# Virtual environments
venv/
.env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Data files
*.csv
*.joblib
*.h5
*.pkl
*.npy
*.npz

# System / IDE
.DS_Store
.vscode/
*.swp
